.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    background: none;
}

.navbar-light .navbar-toggler {
    color: white;
    outline: 0;
}

.navbar-toggler i {
    font-size: 28px;
}

.nav-bg i {
    color: #222222;
}

@media(max-width:576px) {
    .navbar-collapse {
        background: #fff;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #000;
        text-align: center;
    }

    .menu-item {
        padding-right: 0;
        padding: 10px 0;
    }

    #banner {
        padding: 172px 0 148px;
    }

    .banner-text h1 span {
        display: block;
    }

    .banner-text h2 {
        font-size: 32px;
    }

    .banner-text {
        padding-left: 24px;
    }

    .banner-text h1 {
        font-size: 38px;
    }

    .banner-text p {
        padding-right: 52px;
    }

    #about {
        padding: 70px 0;
    }

    .about-head {
        padding-bottom: 25px;
    }

    .circle-main {
        left: 50%;
        transform: translateX(-50%);
    }

    .service-item {
        text-align: center;
    }

    .service-item h2::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .about-text h2 {
        font-size: 31px;
        padding-top: 26px;
    }

    #service {
        padding: 18px 0;
    }

    .portfolioFilter a {
        margin: 10px 0;
    }

    .work-item {
        margin-bottom: 30px;
    }

    .blog-text2 h3 {
        padding-left: 40px;
        padding-right: 40px !important;
    }

    .blog-item h3 {
        padding-right: 0;
    }

    .extra5 {
        padding: 0 20px 0;
    }

    .blog-text {
        text-align: center;
        padding: 21px 0;
    }

    .ad-p p {
        padding-right: 0;
    }

    .poster .ad-p {
        padding-right: 0;
    }

    .blog-admin {
        padding-bottom: 7px;
    }

    .testimonial-item p {
        padding: 10px 0px;
        font-size: 15px;
    }

    .arrows {
        display: none;
    }

    .testimonial-item p i {
        font-size: 19px;
    }

    .m-c-m {
        margin-top: 30px;
    }

    .contact-box {
        margin-top: 55px;
    }

    .links h3 {
        padding-top: 29px;
    }

    .fop-btm h2 {
        line-height: 25px;
    }

}

@media(min-width:576px) and (max-width:768px) {
    .navbar-collapse {
        background: #fff;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #000;
        text-align: center;
    }

    .menu-item {
        padding-right: 0;
        padding: 10px 0;
    }

    .menu-item {
        padding-right: 0;
    }

    .banner-text h1 span {
        display: block;
    }

    #banner {
        padding: 154px 0 171px;
    }

    .about-text h2 {
        padding-top: 27px;
    }

    #service {
        padding: 20px 0;
    }

    .circle-main {
        left: 50%;
        transform: translateX(-50%);
    }

    .service-item {
        text-align: center;
    }

    .service-item h2::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .portfolioFilter a {
        margin: 10px 0;
        font-size: 14px;
        padding: 4px 10px;
    }

    .service-item p {
        padding: 5px 12px 16px;
    }

    .work-item {
        margin-bottom: 30px;
    }

    .l-m {
        margin-top: 30px;
    }

    .blog-item h3 {
        padding-right: 0;
    }

    .blog-text {
        text-align: center;
        padding: 21px 0;
    }

    .blog-text2 h3 {
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 7px;
    }

    .poster .ad-p {
        padding-right: 0;
    }

    .blog-text2 {
        padding: 14px 0 7px;
    }

    .blog-admin {
        padding-bottom: 3px;
    }

    .blog-item p {
        padding-right: 68px;
        padding-left: 68px;
    }

    .arrows {
        display: none;
    }

    .testimonial-item p i {
        font-size: 21px;
    }

    .contact-box {
        margin-top: 55px;
    }

    .links h3 {
        padding-top: 29px;
    }
}

@media(min-width:768px) and (max-width:992px) {
    .navbar-collapse {
        background: #fff;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #000;
        padding-left: 20px;
    }

    .menu-item {
        padding-right: 0;
        padding: 10px 0;
    }

    #banner {
        padding: 193px 0 175px;
    }

    .banner-text p {
        padding-right: 274px;
    }

    .about-text h2 {
        padding-top: 27px;
    }

    #service {
        padding: 33px 0;
    }

    .filter-overlay a span {
        font-size: 16px;
    }

    .work-item {
        margin-bottom: 30px;
    }

    .blog-text2 h3 {
        padding-top: 36px;
    }

    .blog-item {
        margin-bottom: 30px;
    }

    .blog-text {
        padding: 21px 0;
    }

    .blog-text2 {
        padding-left: 5px;
    }

    .contact-box {
        margin-top: 55px;
    }

    .browse {
        padding: 40px 0 20px;
    }

    .arrows {
        display: none;
    }

    .links h3 {
        padding-top: 29px;
    }

}
